<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="com.opennetcf.extensions.ffx" version="1.0.186.0" targetFramework="net452" />
  <package id="com.opennetcf.ioc.ffx" version="1.0.186.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net452" />
</packages>